/* public/styles.css */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.stats {
  width: 60%;
}

/* Bar Graph Horizontal */
.bar-graph .label {
  -webkit-animation: fade-in-text 2.2s 0.1s forwards;
  -moz-animation: fade-in-text 2.2s 0.1s forwards;
  animation: fade-in-text 2.2s 0.1s forwards;
  opacity: 0;
}

.bar-graph-horizontal {
  max-width: 380px;
}

.bar-graph-horizontal > div {
  float: left;
  margin-bottom: 8px;
  width: 100%;
}

.bar-graph-horizontal .label {
  float: left;
  margin-top: 18px;
  width: 120px;
}

.bar-graph-horizontal .bar {
  border-radius: 3px;
  height: 55px;
  float: left;
  overflow: hidden;
  position: relative;
  width: 0;
}

.bar-graph-one .bar::after {
  -webkit-animation: fade-in-text 2.2s 0.1s forwards;
  -moz-animation: fade-in-text 2.2s 0.1s forwards;
  animation: fade-in-text 2.2s 0.1s forwards;
  color: #fff;
  content: attr(data-percentage);
  font-weight: 700;
  position: absolute;
  right: 16px;
  top: 17px;
}

/* Fade-in text animation */
@keyframes fade-in-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Course Card */
.course {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
  transition: transform 0.3s ease;
  width: 35%;
}

.course:hover {
  transform: translateY(-5px);
}

.course img {
  width: 100%;
  border-radius: 5px;
}

.course h2 {
  margin: 10px 0;
}

.course p {
  color: #777;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  margin: 10px 0;
}

.course-details {
  display: flex;
  justify-content: space-between;
}

.btn-5 {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: rgb(55, 181, 20);
}

.btn-5:hover {
  color: #0d77ab;
  background: transparent;
  box-shadow: none;
}

.btn-5:before,
.btn-5:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #0922b2;
  box-shadow:
    -1px -1px 5px 0px #fff,
    7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}

.btn-5:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.btn-5:hover:before,
.btn-5:hover:after {
  width: 100%;
  transition: 800ms ease all;
}



@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .stats,
  .course-card {
    width: 100%;
  }

  .course-card {
    margin-top: 20px;
  }
}