@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



.product_card {
    width: 280px;
    height: 440px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
    transition: 0.3s;
    border: 2px solid rgb(236, 236, 236);
    position: relative;
}

.product_card img {
    width: 100%;
    height: 290px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

.product_card .product_info {
    padding: 10px;
}

.product_card .colors {
    display: flex;
    gap: 5px;
    margin: 5px 0;
    align-items: center;
}

.product_card .color {
    width: 15px;
    height: 15px;
    border-radius: 10px;
}

.product_card .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.product_card .price {
    font-size: 20px;
    font-weight: 600;
}

.product_card .add_to_cart {
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
    background: #fff;
    color: #111111;
    font-size: 14px;
    cursor: pointer;
    border: 3px solid rgba(0, 0, 0, 0.17);
    transition: 0.3s ease;
}

.product_card .add_to_cart:hover {
    background: #111111b8;
    color: #fff;
}

.product_card .add_to_wishlist {
    position: absolute;
    padding: 5px;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    background: #ffffff9b;
    color: #111111;
    border: none;
    right: 5px;
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product_card .product_name {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.product_card .product_description {
    font-size: 14px;
    color: #292828;
    margin-top: 5px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background: #D1D8C5;
    min-height: 100vh;
}

.product_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

